@import url(https://fonts.googleapis.com/css?family=DM+Sans);
@media (min-width: 1380px) {
  .col-xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1560px) {
  .col-xxxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xxxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xxxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xxxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xxxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xxxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xxxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xxxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xxxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.horizontal-nav-menu > li > a.active::before {
  background: #fff;
  position: absolute;
  content: "";
  border-radius: 3px;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  left: 50%;
  margin-left: -8px;
  bottom: -9px;
  box-shadow: -1px -1px 1px 0px rgba(103, 112, 210, 0.35);
}

.horizontal-nav-menu li {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.horizontal-nav-menu li a:not([href]):not([tabindex]) {
  color: #5b5d72;
}
.horizontal-nav-menu li a.active,
.horizontal-nav-menu li a.active .nav_icon_big {
  color: #f9c916 !important;
}
.horizontal-nav-menu .nav_icon_big {
  color: #5b5d72;
  font-size: 1.5rem;
  margin-right: 8px;
}

.folder_container {
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.folder_container::-webkit-scrollbar {
  display: none;
}
.folder_container .list-group-item {
  border: 0;
}
.folder_container .list-group-item.item_active .icon {
  color: #f9c916;
}
.folder_container .folder_text {
  font-size: 18px;
  line-height: 27px;
}
.folder_container li > .widget-content {
  cursor: pointer;
}
.folder_container li > .widget-content:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(221, 221, 221, 0.5), 0 0.0625rem 0.125rem rgba(221, 221, 221, 0.6);
}

.avatar_container {
  align-items: center;
  display: flex;
}
.avatar_container * {
  float: left;
}
.avatar_container img {
  min-height: 50px;
  min-width: 50px;
}
.avatar_container img.img_border_color {
  border: 4px solid #ffc700;
}
.avatar_container i.fa {
  margin-top: -10px;
}
.avatar_container .avatar_text {
  padding: 0;
  margin: 0 5px 0 20px;
}
.avatar_container .avatar_text .name {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
}
.avatar_container .avatar_text .cost {
  color: #f9c916;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
}

.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}
.modal.modal-wide .modal-dialog {
  min-width: 90%;
}

.btn_down_arrow {
  position: relative;
}
.btn_down_arrow.active::after {
  content: " ";
  width: 0px;
  height: 0px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #f9c916;
  position: absolute;
  top: calc(100% + 6.5px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.my_tab .my_tab_head .nav-link {
  color: #f9c916;
}
.my_tab .my_tab_head .nav-link * {
  z-index: 5;
}
.my_tab .my_tab_head .nav-link .my_tab_nav {
  border: 2px solid #f9c916;
  border-radius: 0.3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my_tab .my_tab_head .nav-link.active {
  color: white;
}
.my_tab .my_tab_head .nav-link.active .my_tab_nav::after {
  content: " ";
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f9c916;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.app-top-bar.disabled {
  visibility: hidden;
  height: 0;
}

.app-header.header-shadow {
  top: 0px;
}

.my_drawer {
  height: calc(100% - 175px);
  z-index: 1040;
  bottom: 0;
  top: initial;
}
@media screen and (max-width: 1199px) {
  .my_drawer {
    height: calc(100% - 221px);
    top: 221px;
  }
}
@media screen and (max-width: 991px) {
  .my_drawer {
    height: calc(100% - 191px);
    top: 191px;
  }
}
@media screen and (max-width: 468px) {
  .my_drawer {
    height: calc(100% - 236px);
    top: 236px;
  }
}

.tooltip {
  z-index: 10000;
}

.truncate {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hp-100 {
  height: 100% !important;
}

.hp-85 {
  height: 85% !important;
}

.w-85 {
  width: 85% !important;
}

.pickr_wrapper .pcr-button {
  border: 1px solid #dee2e6;
  border-color: #343a40;
}

.fc-header-toolbar .btn-primary {
  padding: 0.5rem 2rem;
  font-size: 1.125rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.img_table {
  max-height: 100px;
  max-width: 150px;
}

.app-main {
  background-image: url("../assets/images/backgrounds/app-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app-wrapper-footer {
  display: none;
}

@media (min-width: 1200px) {
  .checkbox_css_position {
    margin-top: 33px;
  }
}
.email_template_preview_iframe {
  width: 100%;
  height: 100%;
  border: 0;
  min-height: 70vh;
}

.email_log_preview_iframe {
  width: 100%;
  height: 100%;
  border: 0;
  min-height: 70vh;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0 0 0 1px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  padding-left: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous .page-link {
  border-radius: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next .page-link {
  border-radius: 0;
}

.badge {
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
  background-color: #ffc700;
  border-color: #ffc700;
}

.btn-primary.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(255, 199, 0, 0.4), 0 0.0625rem 0.125rem rgba(255, 199, 0, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #ffc700;
  border-color: #ffc700;
}

.btn-primary {
  color: #fff;
  background-color: #ffc700;
  border-color: #ffc700;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c19700;
  border-color: #c19700;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0 rgba(255, 199, 0, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #ffc700;
  border-color: #ffc700;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c19700;
  border-color: #c19700;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(255, 199, 0, 0.5);
}

.btn-primary.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(255, 199, 0, 0.4), 0 0.0625rem 0.125rem rgba(255, 199, 0, 0.5);
}

.btn-primary.btn-shadow:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(255, 199, 0, 0.5), 0 0.0625rem 0.125rem rgba(255, 199, 0, 0.6);
}

.btn-outline-primary {
  color: #ffc700;
  border-color: #ffc700;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #c19700;
  border-color: #c19700;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0 rgba(255, 199, 0, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #fff;
  background-color: #ffc700;
  border-color: #ffc700;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #c19700;
  border-color: #c19700;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(255, 199, 0, 0.5);
}

.btn-outline-primary.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(255, 199, 0, 0.4), 0 0.0625rem 0.125rem rgba(255, 199, 0, 0.5);
}

.btn-outline-primary.btn-shadow:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(255, 199, 0, 0.5), 0 0.0625rem 0.125rem rgba(255, 199, 0, 0.6);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1620px;
  }
}
.custom_container {
  background: white;
  border-radius: 11px;
  padding: 80px;
  padding-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.app-theme-white .app-page-title {
  border: 0;
  margin-bottom: 40px;
}

.app-inner-layout__content {
  margin-top: 30px;
}

.app-inner-layout.app-inner-layout-page .app-inner-layout__wrapper .app-inner-layout__content {
  padding-bottom: calc(1.5rem + 30px);
}

.profile_dropdown_menu {
  font-family: "DM Sans";
  min-width: 260px;
  border: none;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.profile_dropdown_menu .container {
  margin-top: 10px;
}
.profile_dropdown_menu .profile_user_image {
  width: 50px;
  max-height: 63px;
}
.profile_dropdown_menu .profile_user_col2 {
  padding-left: 34px;
}
.profile_dropdown_menu .profile_user_col2 .profile_user_email {
  margin: 0;
  overflow: hidden;
}
.profile_dropdown_menu .profile_user_col2 .profile_user_plan_container {
  margin: 0;
  height: 25px;
}
.profile_dropdown_menu .profile_user_col2 .profile_user_plan_container .profile_user_name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.profile_dropdown_menu .profile_user_col2 .profile_user_plan_container .profile_plan_name {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: #f9c916;
  background-color: #004547;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 3px;
  position: relative;
  top: -5px;
  margin-left: 13px;
  display: inline-block;
  max-width: 36px;
  overflow: hidden;
}
.profile_dropdown_menu .profile_menu {
  height: 142px;
}
.profile_dropdown_menu .profile_menu .nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 0.7rem 1rem;
  color: black;
}
.profile_dropdown_menu .profile_menu .notification_nav_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile_dropdown_menu .profile_menu .notification_nav_item .icon {
  background: rgba(255, 92, 92, 0.7);
  border-radius: 50%;
  padding: 3px 3px;
}
.profile_dropdown_menu .profile_menu .notification_nav_item .count {
  padding: 0.5px 5px;
  background: #ff5c5c;
  border-radius: 50%;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  margin: 0;
  line-height: 12px;
}
.profile_dropdown_menu .profile_menu_current_plan {
  margin: 0;
  margin-top: 20px;
  padding: 12px 31px;
  background: #f3f3f3;
}
.profile_dropdown_menu .profile_menu_current_plan a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.profile_dropdown_menu .profile_menu_current_plan a .plan_name {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: #f9c916;
  background-color: #004547;
  padding: 2px;
  min-width: 46px;
  text-align: center;
  border-radius: 3px;
  position: relative;
  max-width: 46px;
  overflow: hidden;
}
.profile_dropdown_menu .profile_menu_current_plan a i.fa {
  color: #004547;
}
.profile_dropdown_menu .profile_user_link {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.profile_dropdown_menu .profile_user_link .nav-link {
  padding: 0;
  font-weight: 500;
  border-bottom: 1px solid #5f5f5f;
  line-height: 15px;
  margin-right: 15px;
  color: #5f5f5f;
}

.select_favicon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select_favicon .name {
  margin: 0;
}
.select_favicon img.favicon {
  width: 16px;
  height: 16px;
}
.select_favicon i.favicon {
  width: 21px;
}
.select_favicon span.badge {
  line-height: normal;
}

.select2_brand_id {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select2_brand_id .name {
  margin: 0;
  margin-left: 10px;
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select2_brand_id img.favicon {
  width: 20px;
  height: 20px;
}
.select2_brand_id i.favicon {
  width: 21px;
}
.select2_brand_id span.badge {
  line-height: normal;
}

.btn_expand_container {
  white-space: nowrap;
  padding: 10px 10px 5px 10px;
  border-radius: 4px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.btn_expand_container.show, .btn_expand_container.btn_expand_hover:hover {
  background: #f4f4f4;
}
.btn_expand_container.show .btn_collapse, .btn_expand_container.btn_expand_hover:hover .btn_collapse {
  display: inline-block;
}
.btn_expand_container .btn_collapse {
  display: none;
}
.btn_expand_container .btn_collapse.primary {
  color: #0015ff;
}
.btn_expand_container .btn_collapse.warning {
  color: #ff8a00;
}
.btn_expand_container .btn_collapse.danger {
  color: #ff0000;
}

#tbl_subscription tr td:last-child {
  position: relative;
}

.img_btn_container {
  position: relative;
  width: 160px;
}
.img_btn_container img {
  opacity: 1;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.img_btn_container .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  width: 160px;
  display: flex;
  justify-content: space-evenly;
}
.img_btn_container .btn_overlay {
  background-color: #f9c916;
  color: black;
}

#tbl_subscription tr:hover img {
  opacity: 0.3;
}
#tbl_subscription tr:hover .middle {
  opacity: 1;
}

ion-icon {
  pointer-events: none;
}

.modal-header,
.card-header {
  align-items: center;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}
.modal-header .modal-title,
.card-header .modal-title {
  width: 80%;
}
.modal-header .close,
.card-header .close {
  margin: 0;
}
.modal-header .header_toggle_btn_container,
.card-header .header_toggle_btn_container {
  min-width: 74px;
  height: 34px;
}
.modal-header img.favicon,
.card-header img.favicon {
  height: 30px;
  width: 30px;
}

div.blockUI.blockMsg.blockPage {
  transform: translateX(-50%) translateY(-50%);
}

.subscription_status_vertical {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.sorting,
.sorting_asc,
.sorting_desc {
  background: none;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after {
  display: none;
}

.badge_recurring,
.btn_toggle_recurring {
  background-color: #3ac47d;
  color: white !important;
}

.btn_folder_toggle {
  color: #004547 !important;
}

.select2_hide_arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.fc-event {
  cursor: pointer;
}

.subscription_header_barrating_container {
  width: 900px;
}
.subscription_header_barrating_container .br-current-rating {
  margin-left: auto;
  margin-right: auto;
}

.modal .barrating_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.subscription_widget_chart {
  position: absolute;
  width: 100%;
}

select.select_box_white {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.account_reset_modal .modal-body {
  max-height: 50vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

#modal_settings_account_reset.modal {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  /* Optional: show position indicator in red */
}
#modal_settings_account_reset.modal ::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
#modal_settings_account_reset.modal ::-webkit-scrollbar-thumb {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch_lg {
  /* Rounded sliders */
}
.switch_lg.switch {
  width: 60px;
  height: 34px;
}
.switch_lg .slider:before {
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
}
.switch_lg input:checked + .slider:before {
  transform: translateX(26px);
}
.switch_lg .slider.round {
  border-radius: 34px;
}

.switch_container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.switch_container label {
  margin: 0;
}

.subscription_modal_header .modal-title {
  position: relative;
}
.subscription_modal_header .modal-title .type {
  position: absolute;
  top: 22px;
  left: 0;
}

.multiselect-native-select .btn-group {
  width: 100%;
}
.multiselect-native-select .btn-group button.multiselect {
  text-align: left !important;
}
.multiselect-native-select .btn-group button.multiselect::after {
  display: inline-block;
  float: right;
  margin-left: 0.755em;
  vertical-align: 0.255em;
  content: "";
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 2.5px;
  margin-top: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

button.multiselect-option.dropdown-item.disabled {
  display: none;
}

.non_resizable {
  resize: none;
}

@media (min-width: 992px) {
  .multiselect-native-select select[name=alert_id] + div.btn-group {
    padding-right: 0.5rem;
  }
}
.subscription_ltdval_card {
  border-color: #004547;
  margin-top: -1px;
}
@media (min-width: 768px) {
  .subscription_ltdval_card {
    width: calc(200% + 30px);
    z-index: 1;
  }
}
.subscription_ltdval_card .position-relative.form-group {
  margin: 0;
}

.app-inner-layout__sidebar {
  border: none;
  padding-bottom: calc(1.5rem + 30px);
  padding-left: 1.5rem;
}
.app-inner-layout__sidebar .app-layout__sidebar-inner {
  margin-top: 54px;
  padding: 0;
}
.app-inner-layout__sidebar .app-layout__sidebar-inner .folder_text {
  font-size: 18px;
}
.app-inner-layout__sidebar .app-layout__sidebar-inner .truncate {
  font-size: 18px;
  width: 100px;
}
.app-inner-layout__sidebar .app-layout__sidebar-inner .fa-folder-open {
  line-height: 1;
}

.app-inner-layout .app-inner-layout__wrapper {
  min-height: initial;
}

#tbl_subscription {
  width: initial !important;
}

.app-inner-layout.app-inner-layout-page .close-menu-btn {
  display: none;
}

.subscription_chart_container {
  color: black;
}
.subscription_chart_container .block {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 9px 13px;
  height: 100%;
}
.subscription_chart_container .text_container {
  background: #f7f7f7;
  border-radius: 3px;
  padding: 7px 16px;
}
.subscription_chart_container .text_container.right {
  float: right;
}
.subscription_chart_container .text_container .subs_top,
.subscription_chart_container .text_container .ltd_top {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.subscription_chart_container .text_container .subs_bottom,
.subscription_chart_container .text_container .ltd_bottom {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 10px;
}
.subscription_chart_container .drilldown .panel-heading,
.subscription_chart_container .drilldown ol.breadcrumb,
.subscription_chart_container .drilldown .drilldown-level > level-title {
  display: none;
}

#folder_container .dropdown-item {
  cursor: pointer;
}

.report_page_elements .report_accordion .card {
  border: none;
  border-radius: 5px !important;
}
.report_page_elements .report_accordion .card .card-header {
  background: #f1f1f1;
  border-radius: 5px;
  color: #004446;
  height: auto;
  cursor: pointer;
  padding: 10px 0.5rem;
}
.report_page_elements .report_accordion .card .card-header h2 {
  width: 100%;
}
.report_page_elements .report_accordion .card .card-header button {
  color: #004446;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
.report_page_elements .report_accordion .card .card-header button::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.report_page_elements .report_accordion .card .card-header button .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 10px);
  display: block;
}
.report_page_elements .report_accordion .card .card-header.collapsed::after {
  color: #0015ff;
}
.report_page_elements .report_accordion .card .card-header.collapsed button::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.report_page_elements .report_accordion .card .card-body {
  background: rgba(241, 241, 241, 0.1);
  border-radius: 5px;
}
.report_page_elements .report_accordion .filter_container .filter_check .filter_label {
  align-items: center;
  display: flex;
}
.report_page_elements .report_accordion .filter_container .filter_check .filter_label .filter_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.report_page_elements .report_accordion .filter_container .filter_check .filter_label .filter_value {
  min-width: 24px;
  min-height: 24px;
}
.report_page_elements .report_accordion .filter_container .filter_check:last-child {
  margin-bottom: 0;
}
.report_page_elements .report_accordion .filter_container .filter_check:last-child .filter_label {
  margin-bottom: 0;
}

.select2_search_below {
  display: flex;
  flex-direction: column-reverse;
}

.koolreport_report_subscription_area_chart_1 {
  max-height: 266px;
}

.report_chart_container {
  color: black;
}
.report_chart_container .block {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 9px 13px;
  height: 100%;
}
.report_chart_container .chart_card {
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}
.report_chart_container .top_data_container {
  margin-bottom: 21px;
}
.report_chart_container .top_data_container .text_container {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 7px 16px;
}
.report_chart_container .top_data_container .text_container.right {
  float: right;
}
.report_chart_container .top_data_container .text_container .subs_top,
.report_chart_container .top_data_container .text_container .ltd_top {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.report_chart_container .top_data_container .text_container .subs_bottom,
.report_chart_container .top_data_container .text_container .ltd_bottom {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 10px;
}
.report_chart_container .top_data_container .text_container .subs_bottom span,
.report_chart_container .top_data_container .text_container .ltd_bottom span {
  font-weight: 900;
}
.report_chart_container .top_filter_container {
  margin-top: 16px;
}
.report_chart_container .top_filter_container select.select_box_white {
  color: #004547;
  font-weight: 600;
  font-size: 13px;
}
.report_chart_container .drilldown .panel-heading,
.report_chart_container .drilldown ol.breadcrumb,
.report_chart_container .drilldown .drilldown-level > level-title {
  display: none;
}

.single_line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mw_100px {
  max-width: 100px;
}

.mw_200px {
  max-width: 200px;
}

.mw_300px {
  max-width: 300px;
}

.mw_400px {
  max-width: 400px;
}

.mw_500px {
  max-width: 500px;
}

.subscription_page_elements,
.report_page_elements {
  display: none;
}

.card-header {
  text-transform: initial;
}

.recovery_modal .modal-body {
  max-height: 50vh;
  margin-bottom: 1rem;
}

.btn_default_style {
  padding: 11px 22px;
}

#subscription_attachment_image_file {
  transform: scale(1);
}

#modal_subscription_attachment .modal-body .progress {
  height: 6px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg_color1 {
  background-color: #f9c916;
}

.bg_color2 {
  background-color: #004547;
}

#modal_subscription_attachment .status_container {
  width: 110px;
}
#modal_subscription_attachment .item_container {
  max-height: 50vh;
}
#modal_subscription_attachment .item_container table .file_name {
  display: block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#modal_subscription_attachment .item_container .btn_container {
  width: 110px;
}

/*
 *  Custom scrollbar style
 */
.custom_scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}
.custom_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.custom_scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #696969;
  border-radius: 10px;
}

.vh-1 {
  height: 1vh;
}

.vw-1 {
  width: 1vw;
}

.vh-2 {
  height: 2vh;
}

.vw-2 {
  width: 2vw;
}

.vh-3 {
  height: 3vh;
}

.vw-3 {
  width: 3vw;
}

.vh-4 {
  height: 4vh;
}

.vw-4 {
  width: 4vw;
}

.vh-5 {
  height: 5vh;
}

.vw-5 {
  width: 5vw;
}

.vh-6 {
  height: 6vh;
}

.vw-6 {
  width: 6vw;
}

.vh-7 {
  height: 7vh;
}

.vw-7 {
  width: 7vw;
}

.vh-8 {
  height: 8vh;
}

.vw-8 {
  width: 8vw;
}

.vh-9 {
  height: 9vh;
}

.vw-9 {
  width: 9vw;
}

.vh-10 {
  height: 10vh;
}

.vw-10 {
  width: 10vw;
}

.vh-11 {
  height: 11vh;
}

.vw-11 {
  width: 11vw;
}

.vh-12 {
  height: 12vh;
}

.vw-12 {
  width: 12vw;
}

.vh-13 {
  height: 13vh;
}

.vw-13 {
  width: 13vw;
}

.vh-14 {
  height: 14vh;
}

.vw-14 {
  width: 14vw;
}

.vh-15 {
  height: 15vh;
}

.vw-15 {
  width: 15vw;
}

.vh-16 {
  height: 16vh;
}

.vw-16 {
  width: 16vw;
}

.vh-17 {
  height: 17vh;
}

.vw-17 {
  width: 17vw;
}

.vh-18 {
  height: 18vh;
}

.vw-18 {
  width: 18vw;
}

.vh-19 {
  height: 19vh;
}

.vw-19 {
  width: 19vw;
}

.vh-20 {
  height: 20vh;
}

.vw-20 {
  width: 20vw;
}

.vh-21 {
  height: 21vh;
}

.vw-21 {
  width: 21vw;
}

.vh-22 {
  height: 22vh;
}

.vw-22 {
  width: 22vw;
}

.vh-23 {
  height: 23vh;
}

.vw-23 {
  width: 23vw;
}

.vh-24 {
  height: 24vh;
}

.vw-24 {
  width: 24vw;
}

.vh-25 {
  height: 25vh;
}

.vw-25 {
  width: 25vw;
}

.vh-26 {
  height: 26vh;
}

.vw-26 {
  width: 26vw;
}

.vh-27 {
  height: 27vh;
}

.vw-27 {
  width: 27vw;
}

.vh-28 {
  height: 28vh;
}

.vw-28 {
  width: 28vw;
}

.vh-29 {
  height: 29vh;
}

.vw-29 {
  width: 29vw;
}

.vh-30 {
  height: 30vh;
}

.vw-30 {
  width: 30vw;
}

.vh-31 {
  height: 31vh;
}

.vw-31 {
  width: 31vw;
}

.vh-32 {
  height: 32vh;
}

.vw-32 {
  width: 32vw;
}

.vh-33 {
  height: 33vh;
}

.vw-33 {
  width: 33vw;
}

.vh-34 {
  height: 34vh;
}

.vw-34 {
  width: 34vw;
}

.vh-35 {
  height: 35vh;
}

.vw-35 {
  width: 35vw;
}

.vh-36 {
  height: 36vh;
}

.vw-36 {
  width: 36vw;
}

.vh-37 {
  height: 37vh;
}

.vw-37 {
  width: 37vw;
}

.vh-38 {
  height: 38vh;
}

.vw-38 {
  width: 38vw;
}

.vh-39 {
  height: 39vh;
}

.vw-39 {
  width: 39vw;
}

.vh-40 {
  height: 40vh;
}

.vw-40 {
  width: 40vw;
}

.vh-41 {
  height: 41vh;
}

.vw-41 {
  width: 41vw;
}

.vh-42 {
  height: 42vh;
}

.vw-42 {
  width: 42vw;
}

.vh-43 {
  height: 43vh;
}

.vw-43 {
  width: 43vw;
}

.vh-44 {
  height: 44vh;
}

.vw-44 {
  width: 44vw;
}

.vh-45 {
  height: 45vh;
}

.vw-45 {
  width: 45vw;
}

.vh-46 {
  height: 46vh;
}

.vw-46 {
  width: 46vw;
}

.vh-47 {
  height: 47vh;
}

.vw-47 {
  width: 47vw;
}

.vh-48 {
  height: 48vh;
}

.vw-48 {
  width: 48vw;
}

.vh-49 {
  height: 49vh;
}

.vw-49 {
  width: 49vw;
}

.vh-50 {
  height: 50vh;
}

.vw-50 {
  width: 50vw;
}

.vh-51 {
  height: 51vh;
}

.vw-51 {
  width: 51vw;
}

.vh-52 {
  height: 52vh;
}

.vw-52 {
  width: 52vw;
}

.vh-53 {
  height: 53vh;
}

.vw-53 {
  width: 53vw;
}

.vh-54 {
  height: 54vh;
}

.vw-54 {
  width: 54vw;
}

.vh-55 {
  height: 55vh;
}

.vw-55 {
  width: 55vw;
}

.vh-56 {
  height: 56vh;
}

.vw-56 {
  width: 56vw;
}

.vh-57 {
  height: 57vh;
}

.vw-57 {
  width: 57vw;
}

.vh-58 {
  height: 58vh;
}

.vw-58 {
  width: 58vw;
}

.vh-59 {
  height: 59vh;
}

.vw-59 {
  width: 59vw;
}

.vh-60 {
  height: 60vh;
}

.vw-60 {
  width: 60vw;
}

.vh-61 {
  height: 61vh;
}

.vw-61 {
  width: 61vw;
}

.vh-62 {
  height: 62vh;
}

.vw-62 {
  width: 62vw;
}

.vh-63 {
  height: 63vh;
}

.vw-63 {
  width: 63vw;
}

.vh-64 {
  height: 64vh;
}

.vw-64 {
  width: 64vw;
}

.vh-65 {
  height: 65vh;
}

.vw-65 {
  width: 65vw;
}

.vh-66 {
  height: 66vh;
}

.vw-66 {
  width: 66vw;
}

.vh-67 {
  height: 67vh;
}

.vw-67 {
  width: 67vw;
}

.vh-68 {
  height: 68vh;
}

.vw-68 {
  width: 68vw;
}

.vh-69 {
  height: 69vh;
}

.vw-69 {
  width: 69vw;
}

.vh-70 {
  height: 70vh;
}

.vw-70 {
  width: 70vw;
}

.vh-71 {
  height: 71vh;
}

.vw-71 {
  width: 71vw;
}

.vh-72 {
  height: 72vh;
}

.vw-72 {
  width: 72vw;
}

.vh-73 {
  height: 73vh;
}

.vw-73 {
  width: 73vw;
}

.vh-74 {
  height: 74vh;
}

.vw-74 {
  width: 74vw;
}

.vh-75 {
  height: 75vh;
}

.vw-75 {
  width: 75vw;
}

.vh-76 {
  height: 76vh;
}

.vw-76 {
  width: 76vw;
}

.vh-77 {
  height: 77vh;
}

.vw-77 {
  width: 77vw;
}

.vh-78 {
  height: 78vh;
}

.vw-78 {
  width: 78vw;
}

.vh-79 {
  height: 79vh;
}

.vw-79 {
  width: 79vw;
}

.vh-80 {
  height: 80vh;
}

.vw-80 {
  width: 80vw;
}

.vh-81 {
  height: 81vh;
}

.vw-81 {
  width: 81vw;
}

.vh-82 {
  height: 82vh;
}

.vw-82 {
  width: 82vw;
}

.vh-83 {
  height: 83vh;
}

.vw-83 {
  width: 83vw;
}

.vh-84 {
  height: 84vh;
}

.vw-84 {
  width: 84vw;
}

.vh-85 {
  height: 85vh;
}

.vw-85 {
  width: 85vw;
}

.vh-86 {
  height: 86vh;
}

.vw-86 {
  width: 86vw;
}

.vh-87 {
  height: 87vh;
}

.vw-87 {
  width: 87vw;
}

.vh-88 {
  height: 88vh;
}

.vw-88 {
  width: 88vw;
}

.vh-89 {
  height: 89vh;
}

.vw-89 {
  width: 89vw;
}

.vh-90 {
  height: 90vh;
}

.vw-90 {
  width: 90vw;
}

.vh-91 {
  height: 91vh;
}

.vw-91 {
  width: 91vw;
}

.vh-92 {
  height: 92vh;
}

.vw-92 {
  width: 92vw;
}

.vh-93 {
  height: 93vh;
}

.vw-93 {
  width: 93vw;
}

.vh-94 {
  height: 94vh;
}

.vw-94 {
  width: 94vw;
}

.vh-95 {
  height: 95vh;
}

.vw-95 {
  width: 95vw;
}

.vh-96 {
  height: 96vh;
}

.vw-96 {
  width: 96vw;
}

.vh-97 {
  height: 97vh;
}

.vw-97 {
  width: 97vw;
}

.vh-98 {
  height: 98vh;
}

.vw-98 {
  width: 98vw;
}

.vh-99 {
  height: 99vh;
}

.vw-99 {
  width: 99vw;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.subscription_history_modal .modal-header .product_image {
  width: 86px;
  max-height: 40px;
}

.btn_app_primary {
  background: #004547;
  border-radius: 4px;
  padding: 5px 14px;
  white-space: nowrap;
}
.btn_app_primary .icon {
  color: #f4a856;
  margin-right: 10px;
}
.btn_app_primary .label {
  font-weight: 800;
  color: #f4a856;
}

.btn_close {
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  border-radius: 101px;
  border: 0;
  padding: 5px 8px;
  cursor: pointer;
}
.btn_close .icon {
  width: 15px;
  height: 15px;
}

.btn_icon .icon {
  width: 15px;
  height: 15px;
}

.btn_ripple {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
}
.btn_ripple span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background: inherit;
  filter: invert(100%) contrast(100) brightness(100);
  opacity: 0.3;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.wj-content {
  border: none !important;
}
.wj-content.wj-flexgrid {
  max-height: 450px;
}
.wj-content.wj-flexgrid .wj-detail {
  padding: 4px 16px;
}
.wj-content.wj-flexgrid .wj-cell {
  padding: 7px;
  border: none;
}
.wj-content .wj-cell.wj-state-invalid:not(.wj-header)::after {
  top: -14px;
  border: 14px solid transparent;
  border-right-color: red;
}
.wj-content div[wj-part=ch] {
  background: #ffffff;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.wj-content div[wj-part=ch] .wj-cell.wj-header {
  background: white;
}
.wj-content div[wj-part=cells] .wj-row .payment_date {
  font-size: 14px;
  color: #3d3d3d;
}
.wj-content div[wj-part=cells] .wj-row .icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.wj-content div[wj-part=cells] .wj-row .wj-cell:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.wj-content div[wj-part=cells] .wj-row .wj-cell:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-cell .wj-btn-glyph {
  display: none !important;
}
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-cell .action_column .icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-elem-filter,
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-elem-pin {
  display: none !important;
}
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-cell:nth-child(2),
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-cell:nth-child(5) {
  text-align: start;
}
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-state-selected {
  background: unset !important;
}
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-alt.wj-state-selected {
  background: #f7f7f7 !important;
}
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-cell {
  font-size: 14px;
  color: #3d3d3d !important;
}
.wj-content#subscription_history_table_wijmo_grid .wj-row .wj-cell.wj-header {
  font-weight: 500;
}
.wj-content div[wj-part=root] {
  overflow-x: hidden;
  overflow-y: auto;
}
.wj-content div[wj-part=root]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.wj-content div[wj-part=root]::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.wj-content div[wj-part=root]::-webkit-scrollbar-thumb {
  background-color: #696969;
  border-radius: 10px;
}
.wj-content div[wj-part=root] .wj-cells .wj-cell {
  font-weight: 600;
}

.btn_ion_icon {
  display: flex;
  align-items: center;
  height: 36px;
}

.icon_border_round {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  padding: 5px;
  height: 28px;
  width: 28px;
}

.btn_grey {
  background: #e7e7e7;
  border-radius: 4px;
  padding: 12px 24px;
  white-space: nowrap;
  color: #3d3d3d;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn_grey .icon {
  margin-right: 10px;
}
.btn_grey:hover {
  background: #e5e5e5;
}

.img_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.marketplace_container {
  background: white;
  border-radius: 11px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.marketplace_container .marketplace_user_section .profile_container {
  display: flex;
}
.marketplace_container .marketplace_user_section .profile_container .profile_image {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.marketplace_container .marketplace_user_section .profile_container .section_1 {
  margin-left: 16px;
  margin-top: 10px;
}

.marketplace_product_section {
  margin-top: 15px;
}
.marketplace_product_section .marketplace_item_details {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.marketplace_product_section .marketplace_item_details .spacer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
.marketplace_product_section .marketplace_item_details .product_body {
  flex-shrink: 0;
}
.marketplace_product_section .marketplace_item_details .product_footer {
  flex-shrink: 0;
}
.marketplace_product_section .product_card {
  height: 100%;
}
.marketplace_product_section .product_card .product_image {
  height: 60px;
  width: 160px;
  max-width: 160px !important;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
}
.marketplace_product_section .product_card .product_footer .sale_price {
  font-weight: 700;
  font-size: 26px;
  color: #3d3d3d;
  margin: 0;
}
.marketplace_product_section .product_card .product_footer .original_price {
  font-weight: 500;
  font-size: 14px;
  color: #a8a8a8;
  margin: 0;
}
.marketplace_product_section .product_card .btn_green {
  max-width: 135px;
}
.marketplace_product_section .product_card .product_gallery img {
  height: 60px;
  width: 60px;
  max-width: 60px !important;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn_green {
  background: #003e40;
  border: 1px solid #0065ff;
  box-shadow: 0px 2px 6px rgba(40, 129, 235, 0.36);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff !important;
  padding: 12px;
}

.marketplace_checkout_section .items_container {
  background: #f0f2f5;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  color: #344767;
}
.marketplace_checkout_section .items_container table td {
  border-top: 1px solid #c7ccd0;
}
.marketplace_checkout_section .items_container .cart_item {
  font-weight: 700;
  font-size: 16px;
}
.marketplace_checkout_section .items_container .cart_item .logo {
  height: 60px;
  width: 160px;
  max-width: 160px !important;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
}
.marketplace_checkout_section .items_container .subtotal_row {
  font-weight: 700;
  font-size: 16px;
}
.marketplace_checkout_section .items_container .charges_row {
  font-weight: 700;
  font-size: 16px;
  color: #7b809a;
}
.marketplace_checkout_section .items_container .total_row {
  font-weight: 700;
  font-size: 22px;
}
.marketplace_checkout_section .payment_methods_container .payment_method {
  padding: 20px;
  border: 1px solid #a8b8d8;
  border-radius: 8px;
}

.marketplace_thankyou_section .order_info {
  background: #f0f2f5;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 36px;
}
.marketplace_thankyou_section .order_info table {
  width: 100%;
}
.marketplace_thankyou_section .order_info table th {
  font-weight: 700;
  font-size: 12px;
  color: #7b809a;
}
.marketplace_thankyou_section .order_info table td {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #344767;
}
.marketplace_thankyou_section .order_item_table th {
  background: #f0f2f5;
  color: #7b809a;
  padding-left: 27px;
  padding-right: 27px;
}
.marketplace_thankyou_section .order_item_table .cart_item {
  font-weight: 700;
  font-size: 16px;
}
.marketplace_thankyou_section .order_item_table .cart_item td {
  padding: 27px;
}
.marketplace_thankyou_section .order_item_table .cart_item .logo {
  height: 60px;
  width: 160px;
  max-width: 160px !important;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
}
.marketplace_thankyou_section .order_item_table .subtotal_row {
  font-weight: 700;
  font-size: 16px;
}
.marketplace_thankyou_section .order_item_table .charges_row {
  font-weight: 700;
  font-size: 16px;
  color: #7b809a;
}
.marketplace_thankyou_section .order_item_table .total_row {
  font-weight: 700;
  font-size: 22px;
}
.marketplace_thankyou_section .order_instruction {
  background: #f0f2f5;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 26px;
}

.filepond--root {
  max-width: 246px;
}

.multiselect-selected-text {
  max-width: 80%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.subscription_brand_column .column_image_container {
  display: flex;
  align-items: center;
}
.subscription_brand_column .btn_collapse.primary {
  color: #0015ff;
}
.subscription_brand_column .btn_collapse.warning {
  color: #ff8a00;
}
.subscription_brand_column .btn_collapse.danger {
  color: #ff0000;
}

#modal_subscription_pdf_import .modal-body .step_1 img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 150px;
}
#modal_subscription_pdf_import .modal-body .step_1 img.dragging {
  border: 2px dashed black;
}
#modal_subscription_pdf_import .modal-body .step_2 {
  min-height: 300px;
}
